body{
    margin: 0;
    background-color: white;
}
*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
header{
    background-color: rgb(19, 19, 207);
    margin: 0;
    height: fit-content;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.header_left a{
    color: black;
    text-decoration: none;
}
.header_left a:hover{
    color: black;
    text-decoration: none;
}
.header_left{
    display: flex;
    justify-content: space-around;
}
.header_left h1{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 20px;
}
.header_left h1 img{
    width: 33px;
    height: 33px;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-top: 30px;
}
header .link{
    margin-left: 25px;
}
header .left_a li a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: black;
}
.header_right{
    display: flex;
}
.header_right .searsh_box{
       height: 50px;
       width: 300px;
       background-color: transparent;
       margin: auto;
       position: relative;
}
.searsh_box input{
      position: absolute;
      height: 100%;
      width: 100%;
      outline: none;
      padding-left: 10px;
      background-color: transparent;
      border: none;
      border-bottom: #000000 2px solid;
      font-size: 18px;
}
.searsh_box .icon{
    position: absolute;
    left: 90%;
    top: 10px;
    cursor: pointer;
}
.header_right a{
    color: black;
    height: fit-content;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 30px 30px 0 30px;
}
.header_right a:hover{
    border-bottom: 2px black solid;
}
.header_left .left_a .link a:hover{
    border-bottom: 2px black solid;
} 
.sous{
    display: none;
    box-shadow: 0 1px 2px #CCC;
    background-color: white;
    position: absolute;
    top: 50px;
    width: fit-content;
    z-index: 1000;
    border-radius: 30px;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 9px;
    position: relative;
    right: 10px;
}
.header_left > ul li:hover .sous{
    display: block;
}
.sous li a{
    border-bottom: none;
    margin-left: 0;
    border-bottom: none;
    text-align: left;
}
.sous li a:hover{
    border-bottom: none;
    color: rgb(0, 0, 160);
}
                                          /*description*/
.description{
    margin: 0;
}
.description h1{
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
    padding: 10px;
}
.description h1::first-letter{
    color: rgb(218, 3, 3);
}
.desc1{
    display: flex;
    justify-content: space-between;
}
.description .desc1 img{
    width: 150px;
    margin: 20px;
}
.description .desc1 p{
    margin: 25px;
    line-height: 32px;
}
                                      /*alphabets*/
.alpha_h{
    text-align: center;
    font-size: 1.4em;
    color: #405bd3;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    padding: 10px;
}
table{
    width: 70%;
    max-width: 100%;
    text-align: left;
    padding: .5rem;
    border-radius: .3125rem;
    border-collapse: collapse;
    font-size: .875rem;
    table-layout: fixed;
}
table thead{
    font-weight: bold;
    font-size: 1.3em;
}
table thead td{
    border: 1px solid #d6dee6;
    display: table-cell;
}
table tbody td{
    border: 1px solid #d6dee6;
    display: table-cell;
}
                                         /*vocabulary*/
.words{
    background-color: rgba(10, 10, 219, 0.906);
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 50px 0;
}
.words p{
    text-align: center;
    font-size: 19px;
    font-weight: lighter;
    padding-top: 10px;
}
.words h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.words h2::first-letter{
    color: rgba(195, 0, 0, 0.82);
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.words a{
    color: black;
    text-decoration: none;
}
.section_words{
    width: 170px;
    padding: 25px 5px;
    height: fit-content;
    margin: 20px;
    border-radius: 50px;
    border-bottom: 3px solid rgb(0, 0, 0);
    background-color: #ffffff9a;
}
.section_words span{
    border-radius: 50%;
    padding: 12px;
    background-color: rgba(193, 0, 0, 0.824);
    text-align: center;
    font-size: 30px;
    position: relative;
    left: 56px;
    bottom: -5px;
}
.section_words p{
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}
.vocabulary{
    display: flex;
    justify-content: space-around;
}
.section_words:hover{
    transform:scale(1.05);
}

.sous_main{
    width: 100%;
    height: fit-content;
    background-color: rgba(244, 244, 244, 0.765);
    margin: 50px 0;
}
.sous_main h2{
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.324);
    padding: 10px;
}
.sous_main h2::first-letter{
    color: rgba(193, 0, 0, 0.824);
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.sous_main p{
    margin: 10px;
    padding: 10px;
    line-height: 30px;
}
                                                      /*dictionary*/
.dictionary1{
    display: flex;
    margin-top: 20px;
    padding: 10px;
}
.dictionary{
    margin-bottom: 50px;
}
.dictionary h2{
    text-align: center;
    font-size: 1.6em;
}
.dictionary h2::first-letter{
    color: #d5d7da;
}
.dictionary1 img{
    width: 170px;
    height: 100px;
}
.dictionary1 P{
    font-size: 1.1em;
    margin:0 30px;
}
.dictionary a{
    color: #173857;
    font-family: Rockwell,sans-serif;
    font-size: 18px;
    display: block;
    text-align: center;    
}
.dictionary a:hover{
    color: rgb(36, 0, 194);
}
/*
.dictionary1 img{
    width: 250px;
    height: 150px;
    border-radius: 50%;
    margin: 0;
    animation-name: globe;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-direction: alternate;
}
@keyframes globe{
     0%{
        transform: translateY(-70px);
     }
     100%{
        transform: translateY(60px);
     }
}
*/

.culture{
    width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: rgba(244, 244, 244, 0.765);
    margin-top: 50px;
}
.culture h3{
    position: relative;
    left: 300px;
    border-bottom: 2px solid rgba(202, 0, 0, 0.719);
    width: 80%;
    font-size: 1.4em;
}
.culture h3::first-letter{
    color: rgba(214, 176, 6, 0.986);
}
.culture p{
    padding-left: 20px;
    font-size: 1.3em;
    line-height: 27px;
    margin: 10px;
    width: 90%;
}
                                     /*VERBS*/
.list_verb{
    padding: 20px;
    margin: 10px;
}
.verbs{
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.list_verb a{
    background-color: transparent;

    border-radius: 50px;
    padding: 10px 25px;
    text-decoration: none;
    color: black;
    position: relative;
    left: 30px;

    opacity: 0.8;
    font-weight: bold;
    scale: 1.03;
    box-shadow:  0 3px 5px rgba(0, 0, 0, 0.562);
    border: 3px solid black;
}
.list_verb a:hover{
    border: 1.5px solid black;
    box-shadow: none;
    font-weight: 600;
}
                                    /*footer*/
footer{
 background-color: rgb(22, 22, 218);
 width: 100%;
 height: fit-content;
}
.footer_Top{
display: flex;
justify-content: space-between;
margin: 0;
}
.footer_Top h1{
font-size: 25px;
 margin-top: 10px;
}
.footer_Top h1 img{
    margin-left: 25px;
    width: 33px;
    height: 33px;
}
.footer_Top ul{
        list-style: none;
        margin-top: 25px;
        margin-right: 25px;
        display: flex;
        gap: 25px;
}
.footer_Top ul li a{
        text-decoration: none;
        color: #000000;
        padding-left: 10px;
}
     
    .footer_bottom{
        display: flex;
        justify-content: space-evenly;
}
.footer_bottom a{
    color: #000000;
   text-decoration: none;
    font-size: 15px;
       padding: 5px;
    display: block;
    margin: 0 50px;
}
.footer_bottom a:hover{
    background-color: rgba(255, 255, 255, 0.374);
   color: rgb(19, 19, 207);
   border-radius: 50px;
}
.fin{
   margin: 15px;
}
.fin p span{
    font-size: 20px;
}
.fin p{
    font-size: 15px;
}
.fin p .rights{
    font-size: 11px;
    color: white;
    margin-left: 10px;
}
                                    