body{
    margin: 0;
    background-color: white;
}
*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
header{
    background-color:  rgb(202, 0, 0);
    margin: 0;
    height: fit-content;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.header_left a{
    color: black;
    text-decoration: none;
}
.header_left a:hover{
    color: black;
    text-decoration: none;
}
.header_left{
    display: flex;
    justify-content: space-around;
}
.header_left h1{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 20px;
}
.header_left h1 img{
    width: 33px;
    height: 33px;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-top: 30px;
}
header .link{
    margin-left: 25px;
}
header .left_a li a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: black;
}
.header_right{
    display: flex;
}
.header_right .searsh_box{
       height: 50px;
       width: 300px;
       background-color: transparent;
       margin: auto;
       position: relative;
}
.searsh_box input{
      position: absolute;
      height: 100%;
      width: 100%;
      outline: none;
      padding-left: 10px;
      background-color: transparent;
      border: none;
      border-bottom: #000000 2px solid;
      font-size: 18px;
}
.searsh_box .icon{
    position: absolute;
    left: 90%;
    top: 10px;
    cursor: pointer;
}
.header_right a{
    color: black;
    height: fit-content;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 30px 30px 0 30px;
}
.header_right a:hover{
    border-bottom: 2px black solid;
}
.header_left .left_a .link a:hover{
    border-bottom: 2px black solid;
} 
.sous{
    display: none;
    box-shadow: 0 1px 2px #CCC;
    background-color: white;
    position: absolute;
    top: 50px;
    width: fit-content;
    z-index: 1000;
    border-radius: 30px;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 9px;
    position: relative;
    right: 10px;
}
.header_left > ul li:hover .sous{
    display: block;
}
.sous li a{
    border-bottom: none;
    margin-left: 0;
    border-bottom: none;
    text-align: left;
}
.sous li a:hover{
    border-bottom: none;
    color:rgb(202, 0, 0);
}
                                    /*time*/
.time h1{
    font-size: 2em;
    text-shadow: 0 0 5px rgb(153, 149, 149);
    text-align: center;
    padding: 10px;
}
.time h1::first-letter{
    color: rgb(202, 0, 0);
}
.time img{
    position: relative;
    left: 20%;
    width: 800px;
    height: 400px;
}
table{
    margin-top: 25px;
}
table tr td{
    padding: 15px;
    width: 100%;
    border: .8px solid silver;
}
 table th{
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
    text-shadow: 2px 3px 6px rgba(83, 81, 81, 0.82);
    padding: 10px;
    border: .8px solid silver;
}
 table th::first-letter{
    color: rgb(202, 0, 0);
}
table tr td audio{
    border-radius: 50px;
    width: 120px;
    margin-left: 10px;
    height: 25px;
    position: relative;
    top: 6px;
    left: 15px;
}
 table tr{
    display: flex;
    justify-content: space-around;
}
iframe{
    width: 700px;
    margin: 20px;
    height: 350px;
    position: relative;
    left: 20%;
}
                                     /*footer*/
footer{
 background-color: rgb(202, 0, 0);
 width: 100%;
 height: fit-content;
}
.footer_Top{
display: flex;
justify-content: space-between;
margin: 0;
}
.footer_Top h1{
font-size: 25px;
 margin-top: 10px;
}
.footer_Top h1 img{
    margin-left: 25px;
    width: 33px;
    height: 33px;
}
.footer_Top ul{
        list-style: none;
        margin-top: 25px;
        margin-right: 25px;
        display: flex;
        gap: 25px;
}
.footer_Top ul li a{
        text-decoration: none;
        color: #000000;
        padding-left: 10px;
}
     
    .footer_bottom{
        display: flex;
        justify-content: space-evenly;
}
.footer_bottom a{
    color: #000000;
   text-decoration: none;
    font-size: 15px;
       padding: 5px;
    display: block;
    margin: 0 50px;
}
.footer_bottom a:hover{
    background-color: rgba(255, 255, 255, 0.374);
   color: white;
   border-radius: 50px;
}
.fin{
   margin: 15px;
}
.fin p span{
    font-size: 20px;
}
.fin p{
    font-size: 15px;
}
.fin p .rights{
    font-size: 11px;
    color: white;
    margin-left: 10px;
}
   