body{
    margin: 0;
    background-color: white;
}
*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
header{
    background-color: rgba(2, 113, 0, 0.765);
    margin: 0;
    height: fit-content;
    padding-bottom: 10px;
    /*position: fixed;
    top: 0;
    right: 0;
    left: 0;*/
    display: flex;
    justify-content: space-between;
}
.header_left a{
    color: black;
    text-decoration: none;
}
.header_left a:hover{
    color: black;
    text-decoration: none;
}
.header_left{
    display: flex;
    justify-content: space-around;
}
.header_left h1{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 20px;
}
.header_left h1 img{
    width: 33px;
    height: 33px;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-top: 30px;
}
header .link{
    margin-left: 25px;
}
header .left_a li a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: black;
}
.header_right{
    display: flex;
}
.header_right .searsh_box{
       height: 50px;
       width: 300px;
       background-color: transparent;
       margin: auto;
       position: relative;
}
.searsh_box input{
      position: absolute;
      height: 100%;
      width: 100%;
      outline: none;
      padding-left: 10px;
      background-color: transparent;
      border: none;
      border-bottom: #000000 2px solid;
      font-size: 18px;
}
.searsh_box .icon{
    position: absolute;
    left: 90%;
    top: 10px;
    cursor: pointer;
}
/*
.header_right input{
    width: 350px;
    height: 30px;
    border-radius: 50px;
    background-color: transparent;
    border: black 3px solid;
    margin: 20px;
}
.header_right input:focus{
    border: transparent 2px solid;
}*/
.header_right a{
    color: black;
    height: fit-content;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 30px 30px 0 30px;
}
.header_right a:hover{
    border-bottom: 2px black solid;
}
.header_left .left_a .link a:hover{
    border-bottom: 2px black solid;
} 
.sous{
    display: none;
    box-shadow: 0 1px 2px #CCC;
    background-color: white;
    position: absolute;
    top: 50px;
    width: fit-content;
    z-index: 1000;
    border-radius: 30px;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 9px;
    position: relative;
    right: 10px;
}
.header_left > ul li:hover .sous{
    display: block;
}
.sous li a{
    border-bottom: none;
    margin-left: 0;
    border-bottom: none;
    text-align: left;
}
.sous li a:hover{
    border-bottom: none;
    color: rgba(2, 113, 0, 0.765);
}
                                          /*main*/
main h1{
    text-align: center;
    font-size: 1.8em;
    padding: 15px;
    font-weight: bold;
}
main h1::first-letter{
    color: rgba(163, 24, 2, 0.931);
}
main p{
    text-align: center;
    text-decoration: underline solid rgba(163, 24, 2, 0.931);
}
table{
    width: 70%;
    max-width: 100%;
    text-align: left;
    padding: .5rem;
    border-radius: .3125rem;
    border-collapse: collapse;
    font-size: .875rem;
    line-height: 1.7;
    table-layout: fixed;
    margin-top: 30px;
}
table tbody tr td{
    border: 1px solid #d6dee6;
    padding: 5px 26px;
    font-size: 16px;
    display: table-cell;
    position: relative;
    left: 20px;
}
table thead tr th{
    border: 1px solid #d6dee6;
    padding: 5px 20px;
    display: table-cell;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: #868585;
}
table tr audio{
    border-radius: 50px;
    width: 120px;
    margin-left: 10px;
    height: 25px;
    position: relative;
    top: 6px;
}
main img{
    width: 120ch;
    position: relative;
    left: 90px;
    margin: 10px;
}
iframe{
    width: 700px;
    margin: 20px;
    height: 350px;
    position: relative;
    left: 20%;
}

                                     /*footer*/
footer{
    background-color: rgba(2, 113, 0, 0.765);
    width: 100%;
    height: fit-content;
    margin-top: 10px;
}
.footer_Top{
    display: flex;
    justify-content: space-between;
    margin: 0;

}
.footer_Top h1{
    font-size: 25px;
    margin-top: 10px;
}
.footer_Top h1 img{
    margin-left: 25px;
    width: 33px;
    height: 33px;
}
.footer_Top ul{
    list-style: none;
    margin-top: 25px;
    margin-right: 25px;
    display: flex;
    gap: 25px;
}
.footer_Top ul li a{
    text-decoration: none;
    color: #000000;
    padding-left: 10px;
}

.footer_bottom{
    display: flex;
    justify-content: space-evenly;
}
.footer_bottom a{
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    display: block;
    margin: 0 50px;
}
.footer_bottom a:hover{
    background-color: rgba(255, 255, 255, 0.374);
    color: white;
    border-radius: 50px;
}
.fin{
    margin: 15px;
}
.fin p span{
    font-size: 20px;
}
.fin p{
    font-size: 15px;
}
.fin p .rights{
    font-size: 11px;
    color: white;
    margin-left: 10px;
}
      